@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.info {
  margin: 10%;
  color: black;
  font-size: 2rem;
  position: relative;
}
#headline {
  font-weight: bold;
}
#umschlag {
  position: absolute;
  transform: rotate(-4deg) translateX(-1130px) scale(0.1) translateY(1250px)
    rotateY(90deg);
  animation: post 4s 1s ease-in-out forwards;
}

@keyframes post {
  0% {
    transform: rotate(-4deg) translateX(-1130px) scale(0.1) translateY(1250px)
      rotateY(90deg);
  }
  100% {
    transform: rotate(-4deg) translateX(0px) scale(1) translateY(0px)
      rotateY(0deg);
  }
}

#letter {
}

.letterText {
  position: absolute;
  width: 50%;
  top: 10%;
  left: 10%;
}
.hide {
  display: none;
}

.btn {
  position: absolute;
  margin-left: 15px;
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: rgb(249, 233, 204);
  border-radius: 40em;
  border-style: none;
  box-shadow: orange 0 -20px 10px inset;
  box-sizing: border-box;
  color: brown;
  letter-spacing: -0.25px;
  padding: 0.6rem 1rem;
  text-align: center;
  transition: all 0.15s;
  cursor: pointer;
}

.btn:hover {
  background-color: orange;
  box-shadow: orangered 0 -6px 8px inset;
  transform: scale(1.1);
}

.btn:active {
  transform: scale(1.1);
}

#btn1 {
  top: 45%;
  left: 150%;
}
#btn2 {
  top: 50%;
  left: 150%;
}

@keyframes btnShow {
  0% {
    left: 150%;
  }
  100% {
    left: 5%;
  }
}
